.DrumPad {
  background: #ccc;
  border: 2px solid #aaa;
  cursor: pointer;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4);
  position: relative;
  transition: transform 100ms ease-out;
}

.DrumPad:hover {
  transform: scale(1.05);
}

.DrumPadClicked {
  box-shadow: 0 0 0px;
}

.DrumPadInner {
  position: absolute;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}

.DrumPadInnerClicked {
  height: 102%;
}

.Orange {
  background: orange;
}
