@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

html, body {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
}

.App {
    width: 100vw;
    display: grid;
    place-items: center;
    padding: 20px;
}

.Editor {
    width: 450px;
    border: 5px solid darkgreen;
}

.Editor-fullscreen {
    width: 90vw;
    height: 90vh;
}

.Previewer {
    width: 600px;
    height: 150px;
    background: greenyellow;
    overflow: scroll;
}

.Previewer-fullscreen {
    width: 95vw;
    height: 95vh;
}

textarea {
    resize: vertical;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

i {
    color: black;
}

.container-toolbar {
    background-color: chocolate;
    display: flex;
    justify-content: space-between;
}