.Editor {
  width: 450px;
  height: 250px;
  border: 2px solid rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  margin-bottom: 10px;
}

textarea {
  padding: 10px;
  width: 100%;
  min-height: 82.5%;
  resize: vertical;
  outline: none;
}

.Fullscreen {
  width: 99%;
  height: 99vh;
}
