.App {
    height: 400px;
    width: 600px;
    background: #ccc;
    border: 1px solid;
    display: flex;
}

@media (max-width: 600px) {
    .App {
        width: 400px;
        height: 500px;
        flex-direction: column;
    }
}