.App {
  width: 300px;
  height: 350px;
  border: 2px solid;
  display: grid;
}

.Display {
  height: 25px;
  width: 50%;
  border: 1px solid purple;
}

.NumbersGrid {
  width: 150px;
  height: 200px;
  border: 2px solid green;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.Number {
  border: 2px solid yellow;
}
