.Control {
  border: 0.5px solid black;
  border-collapse: collapse;
  display: grid;
  place-items: center;
  background: #555;
  cursor: pointer;
  font-size: 1.3rem;
  transition: transform 100ms ease-out, border 100ms ease-out;
}

.Control:hover {
  border: 0.1px solid #ddd;
  transform: scale(1.02);
}

.Cancel {
  background: red;
  grid-column: 1/3;
  grid-row: 1;
}

.Plus {
  grid-column: 4/5;
  grid-row: 3;
}

.Minus {
  grid-column: 4/5;
  grid-row: 2;
}

.Multiply {
  grid-column: 4/5;
  grid-row: 1;
}

.Divide {
  grid-column: 3/4;
  grid-row: 1;
}

.Zero {
  grid-column: 1/3;
  grid-row: 5;
}

.Equal {
  background: blue;
  grid-column: 4/5;
  grid-row: 4/6;
}

.Operator {
  background: #777;
}
